@layer components {
  #device-panel {
    @apply w-60 rounded-sm shadow-md border opacity-80 transition-all duration-500;
    /* Leaflet uses a z-index of 400 for it's panes, so we must go 1 level higher to display over it */
    background-color: #121212;
    border-color: #242424;
  }

  #device-panel:hover {
    @apply opacity-100;
  }

  #device-panel.closed {
    @apply h-20;
  }

  #device-panel.open {
    @apply h-full;
  }

  #device-panel-header {
    @apply w-full h-6 pt-0.5 flex items-center justify-center border-b;
    border-color: #242424;
  }

  #device-panel-toggle-btn {
    @apply text-sm pb-1;
    color: #3e3e3e;
  }

  #device-msg-container {
    @apply h-full w-full flex justify-center items-center pb-6;
  }

  #devices-msg {
    @apply text-sm font-semibold;
    color: #4e4e4e;
  }
}
