@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'leaflet/dist/leaflet.css';
@import '@szhsin/react-menu/dist/index.css';

body,
#app-root {
  height: 100vh;
  width: 100vw;
  font-family: 'Lato', sans-serif;
}
