@layer components {
  .device-panel-item {
    @apply flex h-14 items-center;
  }

  .device-panel-item:not(:first-of-type) {
    @apply mt-2;
  }

  .device-panel-item > .device-panel-item-icon-container {
    @apply flex items-center justify-center rounded-full text-lg;
    height: 2rem;
    width: 2.5rem;
    background-color: #2e2e2e;
    color: #121212;
  }

  .device-panel-item > .device-panel-item-details-container {
    @apply flex flex-col w-full ml-2;
    font-size: 0.8rem;
    color: #dedede;
  }

  .device-panel-item
    > .device-panel-item-details-container
    > .device-panel-item-details-specs-container,
  .device-panel-item
    > .device-panel-item-details-container
    > .device-panel-item-details-status-container {
    @apply flex w-full items-center justify-between mt-0.5;
    font-size: 0.6rem;
  }

  .device-panel-item-details-specs-text:first-of-type {
    @apply w-32  overflow-hidden overflow-ellipsis whitespace-nowrap;
  }

  .status-item-true,
  .status-item-false {
    @apply ml-1;
  }

  .status-item-true {
    @apply text-green-500;
  }

  .status-item-false {
    @apply text-red-500;
  }
}
